{% extends "pages/page.html" %}

{% load mezzanine_tags pages_tags comment_tags recipe_tags i18n %}

{% block main %}{{ block.super }}

    {% block recipe_summary %}
        {% if page.recipe.summary %}
            <div class="well well-small">
                {% editable page.recipe.summary %}<h3>{{ page.recipe.summary }}</h3>{% endeditable %}
            </div>
        {% endif %}
    {% endblock %}

    {% block recipe_cover_image %}
        {% if page.recipe.cover %}
            <p><img class="img-polaroid" src="{{ MEDIA_URL }}{% thumbnail page.recipe.cover 670 0 %}" alt="{{ page.title }}"></p>
        {% endif %}
    {% endblock %}

    {% block recipe_categories %}
        {% if page.recipe.categories.count %}
            <div class="well well-small">
                <dl class="dl-horizontal">
                    <h4><dt>{% trans 'Categories' %}:</dt></h4>
                    {% for category in page.recipe.categories.all %}
                        <dd>{{ category.title }}</dd>
                    {% endfor %}
                </dl>
            </div>
        {% endif %}
    {% endblock %}

    {% block recipe_hero %}
        <div class="hero-unit">

            {% block recipe_ingredients %}
                {% if page.recipe.ingredients.count %}
                    <dl class="dl-horizontal">
                        <h4><dt>{% trans 'Ingredients' %}:</dt></h4>
                        {% for ingredient in page.recipe.ingredients.all %}
                            <dd>{{ ingredient.quantity }} {% get_unit_name ingredient %} {{ ingredient }} {{ ingredient.note }}</dd>
                        {% endfor %}
                    </dl>
                {% endif %}
            {% endblock %}

            {% block recipe_portions %}
                {% if page.recipe.portions %}
                    {% editable page.recipe.portions %}
                        <dl class="dl-horizontal">
                            <h4><dt>{% trans 'Portions' %}:</dt></h4>
                            <dd>{{ page.recipe.portions }}</dd>
                        </dl>
                    {% endeditable %}
                {% endif %}
            {% endblock %}

            {% block recipe_difficulty %}
                {% if page.recipe.difficulty %}
                    {% editable page.recipe.difficulty %}
                        <dl class="dl-horizontal">
                            <h4><dt>{% trans 'Difficulty' %}:</dt></h4>
                            <dd>{% get_difficulty_name page.recipe %}</dd>
                        </dl>
                    {% endeditable %}
                {% endif %}
            {% endblock %}

            {% block recipe_working_hours %}
                {% if page.recipe.working_hours %}
                    <dl class="dl-horizontal">
                        <h4><dt>{% trans 'Working Hours' %}:</dt></h4>
                        <dd>{% get_time_period page.recipe.working_hours %} {% trans 'Hours' %}</dd>
                    </dl>
                {% endif %}
            {% endblock %}

            {% block recipe_cooking_time %}
                {% if page.recipe.cooking_time %}
                    <dl class="dl-horizontal">
                        <h4><dt>{% trans 'Cooking Time' %}:</dt></h4>
                        <dd>{% get_time_period page.recipe.cooking_time %} {% trans 'Hours' %}</dd>
                    </dl>
                {% endif %}
            {% endblock %}

            {% block recipe_rest_period %}
                {% if page.recipe.rest_period %}
                    <dl class="dl-horizontal">
                        <h4><dt>{% trans 'Rest Period' %}:</dt></h4>
                        <dd>{% get_time_period page.recipe.rest_period %} {% trans 'Days' %}</dd>
                    </dl>
                {% endif %}
            {% endblock %}

        </div>
    {% endblock %}

    {% block recipe_content %}
        {% if page.recipe.content %}
            <div class="panel">
                {% editable page.recipe.content %}
                    {{ page.recipe.content|richtext_filter|safe }}
                {% endeditable %}
            </div>
        {% endif %}
    {% endblock %}

    {% if page.recipe.allow_comments %}{% comments_for page.recipe %}{% endif %}

{% endblock %}